<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.23" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.1.0.25" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="spkl" version="1.0.382-beta" targetFramework="net462" />
  <package id="Xrm.Oss.FluentQuery.Sources" version="2.1.1" targetFramework="net462" />
</packages>